body,
html {
  font-size: 0.95rem;
  background: #fcfafb;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
.grid6{
  display:grid;
  grid-template-columns: 25% auto;
  padding:0.5%;
  padding-bottom:0%;
  margin-bottom:0%;
}

.grid{
  display:grid;
  grid-template-columns: auto 35% auto;
  padding:1%;
  padding-bottom:0%;
  margin-bottom:0%;
}
/*BANNER*/
#banner{
  background-color: #bcf46e;
}
#banner button{
  padding:1%;
  width:20%;
  background-color: #ffc2cb;
  font-size: 15px;
  color:white;
  letter-spacing: 2.5px;
}
#banner button:hover{
  background-color: #ffabb8;
}
#banner h3{
  font-family: sans-serif;
  color:#242424;
}
#banner .grid-item{
  padding-left: 3%;
  margin-right:0%;
  margin-top:2%;
}
/*LANDING*/
#landing{
  margin-top:0px;
  height: 50vh;
  min-height: 600px;
  background-color: #ffffe7;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  color:#242424;
}
#landing h2{
  font-size:65px;
}
#landing h4{
  font-size:15px;
}
#landing h5{
  font-size:25px;
  padding-left:10%;
  padding-right:10%;
}
.grid2{
  display:grid;
  grid-template-columns: 60% 40%;
  padding:1%;
  padding-bottom:0%;
  margin-bottom:0%;
}


#Play{
  margin-top:-2.5%;
  height: 25vh;
  min-height: 250px;
  background-color: white;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 0%;
  color:#dfb373;
}
#Play h3{
  font-size:35px;
  padding-top:3%;
  letter-spacing: 6px;
}
#Play h4{
  font-size:20px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
#Play button{
  padding:1%;
  width:40%;
  background-color: #dfb373;
  font-size: 18px;
  color:white;
  letter-spacing: 2.5px;
  font-weight: bolder;
}
#Play button:hover{
  background-color: #bd9760;
}

#MyCulture{
  margin-top:-3.25%;
  height: 25vh;
  min-height: 300px;
  background-color: #65dcb0;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 0%;
  color:white;
}
#MyCulture h3{
  font-size:35px;
  padding-top:3%;
  letter-spacing: 2px;
}
#MyCulture h5{
  font-size:20px;
  padding-left:8%;
  padding-right:8%;
}
#MyCulture button{
  padding:1%;
  width:40%;
  background-color: white;
  font-size: 18px;
  color:#65bdc0;
  border:none;
  letter-spacing: 2.5px;
  font-weight: bolder;
}
#MyCulture button:hover{
  background-color: #edfffb;
}
.grid3{
  display:grid;
  grid-template-columns: 50% 50%;
  padding:2%;
  padding-top:0%;
  padding-bottom:0%;
  margin-bottom:0%;
  text-align: left;
}
/*ABOUT PAGE*/
/*ABOUT*/
#about, #story{
  height: 50vh;
  min-height: 375px;
  background-color: white;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 0%;
  color:#691800;
}
#story{
  min-height: 450px;
}
#about h3, #story h3{
  font-size:35px;
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
  letter-spacing: 2px;
}
#about h5, #story h5{
  font-size:20px;
  padding-left:5%;
  padding-right:5%;
  margin-bottom:0;
}
/*MISSION*/
#mission{
  height: 50vh;
  min-height: 350px;
  background-color: #dfb373;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 2%;
  color:white;
}
#mission h3{
  font-size:35px;
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
  letter-spacing: 2px;
}
#mission h5{
  font-size:20px;
  padding-left:5%;
  padding-right:5%;
  margin-bottom:0;
}
/*MYCULTURE*/
#myculture-header{
  height: 50vh;
  min-height: 350px;
  background-color: #f4f4f4;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 2%;
  color:#691800;
}
#myculture-header h3{
  font-size:35px;
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
  letter-spacing: 2px;
}
#myculture-header h5{
  font-size:20px;
  padding-left:5%;
  padding-right:5%;
  margin-bottom:0;
}
/*CHAT*/
#chat{
  height: 50vh;
  min-height: 350px;
  background-color: #f5dbc8;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 2%;
  color:#242424;
}
#chat h3{
  font-size:35px;
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
  letter-spacing: 2px;
}
#chat h5{
  font-size:20px;
  padding-left:5%;
  padding-right:5%;
  margin-bottom:0;
}
#share{
  background-color: #f4f4f4;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: sans-serif;
  padding-bottom: 2%;
  color:#691800;
}
#share h3{
  font-size:35px;
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
  letter-spacing: 2px;
}
#share h5{
  font-size:20px;
  padding-left:5%;
  padding-right:5%;
  margin-bottom:0;
}
